<html lang="en">
    <%- include('./partials/head.ejs')%>
        <body>
            <div class="container">
                <%- include('./partials/nav.ejs') %>

                    <div class="details content">
                        <h2 class="blog-title-details"><%= blog.title %></h2>
                            <div class="content">
                                <div class="delete-edit">
                                    <a class="edit" href="/blogs/edit/<%=
                                        blog._id
                                        %>"
                                        data-edit='<%= blog._id
                                            %>' >Edit</a>
                                        <a class="delete">Delete</a>
                                    </div>
                                    <p><%= blog.body%></p>
                                    </div>

                                </div>
                            </div>
                            <!-----   Modal  ----->
                            <div class="modal">
                                <div class="modal-content">
                                    <div class="modal-text">
                                        <h1>Delete Blog</h1>

                                        <p class="para">Are you sure you want to
                                            delete this blog?</p>
                                        <p>This action cannot be undone.</p>
                                    </div>
                                    <div class="modal-btns">
                                        <button
                                            type="button"
                                            class="delete-btn"
                                            data-doc='<%= blog._id
                                            %>'>
                                            Yes, delete
                                        </button>
                                        <button type="button"
                                            class="cancel-btn">
                                            Go back
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <%- include('./partials/footer.ejs') %>
                                <p
                                    class="current-year">
                                    <%=
                                        currentYear%>
                                    </p>
                                    <script>
                           const deleteBtn = document.querySelector('a.delete');
                           const modal = document.querySelector('.modal');
                           const cancelDelete = document.querySelector('.cancel-btn');
                           const confirmDelete = document.querySelector('.delete-btn');
            
                            
                           deleteBtn.addEventListener('click', ()=> {
                            modal.classList.add('show-modal')
                           })
                           cancelDelete.addEventListener('click', ()=> {
                            modal.classList.remove('show-modal')
                           })

                            confirmDelete.addEventListener('click', (e) => {
                            const endpoint = `/blogs/${confirmDelete.dataset.doc}`;
                             
                            fetch(endpoint,{method: 'DELETE'})
                             .then(response => response.json())
                             .then(data =>  window.location.href = data.redirect)
                             .catch(err => console.log(err))
                            })
                        
                          </script>
                                </body>
                            </html>